<div id="register">
    <h1 class="text-center">{{register }}</h1>

    <form class="w-25 m-auto mt-5" @submit.prevent="handleSubmit">

        <div class="mb-3 a">
            <label class="float-left form-label" for="emailInput">Email</label>
            <input type="email" v-model="email" class="form-control" id="emailInput" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" v-model="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>